package {{.moduleName}}

type {{.ModuleName | title}} struct {
ID        int    `json:"id"`
Name      string `json:"name"`  // Adicione campos conforme necessário
Email     string `json:"email"`
// Outros campos...
}
