package {{.moduleName}}

import "context"

// Implementação mock ou com DB (ex: usando sql.DB)
type {{.ModuleName | title}}RepositoryImpl struct {
	// db *sql.DB
}

func New{{.ModuleName | title}}Repository() {{.ModuleName | title}}Repository {
	return &{{.ModuleName | title}}RepositoryImpl{}
}

func (r *{{.ModuleName | title}}RepositoryImpl) Create(ctx context.Context, entity *{{.ModuleName | title}}) error {
	// Implementação CRUD básica
	return nil
}

// Implemente os outros métodos CRUD e custom...